{% extends 'base.html' %}

{% block content %}



<!---------- ACTIONS -------------->


<div class="row d-flex justify-content-center" style='padding-top: 15px;' style='padding-right: 15px;'>




    <div class="card-header">
      your next step?
    </div>
    <div class="card-body">
      <div class="btn-group" role="group" aria-label="Basic example">
      {% for action in actions %}

      <form method="post" enctype="multipart/form-data"
        {% if action.url %}
        action="{{ action.url }}"
        {% endif %}
        >
        {% csrf_token %}
        {% if action.bet_values %}
        <input id="value" type="text" name="value" value="{{action.bet_values.min}}">
        {% endif %}
        <button type="submit" class="{{action.button_class}}">{{action.name}}</button>
      </form>

      {% endfor %}
    </div>
  </div>

</div>



<!----------- CARDS ---------------->
<div class="card text-white bg-info mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <p class="card-text">{{game.bank}}</p>
    <div class="card-header"> game bank </div>
  </div>
</div>

<div class="card text-white bg-info mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h1 class="card-title"><small class='game_card'>{{ game.table }}</small></h1>
    <div class="card-header"> flop </div>
  </div>
</div>

<div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
  <div class="card-body">
    <h1 class="card-title"><small class='game_card'>{{ player.hand }}</small></h1>
    <div class="card-header"> your hand </div>
  </div>
</div>


{% include 'games/includes/player_card.html' %}
{% for player in other_players %}
{% include 'games/includes/player_card.html' %}
{% endfor %}

<div class="card border-light mb-3" style="max-width: 20rem;">
  {% comment %} <div class="card-header">Header</div> {% endcomment %}
  <div class="card-body">
    <h4 class="card-title">Light card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
</div>





{% endblock content %}