{% extends 'base.html' %}
{% load card_filters %}
{% comment %} {% load custom_filters %} {% endcomment %}
{% block content %}

<div class="row d-flex justify-content-center" style='padding-top: 15px;'>
  <div class="card border-info mb-3" style="max-width: 20rem;">
    <div class="card-header">
      game #{{game.pk}} detail
    </div>
    <div class="card-body">
      <h4 class="card-title"></h4>
      <p class="card-text">
        deck:
        <small class='game_card'>
          {{game.deck|hiden}}
        </small>
      </p>
      <p class="card-text">
        table:
        <small class='game_card'>
          {{game.table}}
        </small></p>
      <p class="card-text">
        your hand:
        <small class='game_card'>
          {{player.hand}}
        </small>
      </p>
      {% for player in other_players %}
          <p class="card-text">
            {{player.user}}
            <small class="text-muted">has in hand:</small>
            <small class='game_card'>
              {{player.hand|hiden}}
            </small>
          </p>
      {% endfor %}
      <p
    </div>
  </div>
</div>

<div class="row d-flex justify-content-center" style='padding-top: 15px;'>
  <div class="card border-light mb-3" style="max-width: 20rem;">
    <div class="card-header">
      your next step?
    </div>
    <div class="card-body">

      <form method="post"
      enctype="multipart/form-data"
      {% if action_url %}
        action="{% url action_url %}"
      {% endif %}
      >
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">
          next...
        </button>
      </form>
    </div>
  </div>
</div>


    <h3>
      {{game.status}}
    </h3>
    <h4>
      <h4 class="card-title"></h4>
      <p class="card-text">step: {{game.process.step}} </p>
      {{game.info|safe}}
    </h4>

{% endblock content %}