
{% load static %}

<!doctype html> <!-- HTML5 -->
<html lang="en">
  <head>
    <meta charset="utf-8"> <!-- поддержка разных языков -->
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- поддержка мобильных устройств -->
    <title>
      {% block title %}
      {{ title }}
      {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static '/bootswatch/dist/sketchy/bootstrap.min.css' %}">
    {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"> {% endcomment %}
  </head>
  <body>
    <div class="container py-5">
    <div class="row d-flex justify-content-center" >
      {% include 'games/includes/header.html' %}
      {% block content %}{% endblock content %}
    </div>
    </div>

    {% comment %}

    Джава скрипт покдлючим ПРАВИЛЬНО позже.
    {% endcomment %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>


  </body>
</html>





