

<div class="
    {% if player.is_performer%}card bg-success mb-3{% elif not player.is_active %}card bg-dark mb-3{% else %}card bg-light mb-3{% endif %}
    " style="max-width: 20rem;">

    <div class="card-header">
        {{player.user}}
        {% if player.is_host %}👑{% endif %}
        {% if player.is_dealer %}🎩{% endif %}

    </div>
    <div class="card-body">
      <p class="card-text"><h5>{{player.profile_bank}}<h5></p>
      <p class="card-text">{{player.bet_total}}</p>
      {% if player.combo %}<span class="badge bg-light">{{player.combo.name}} {{player.combo.stacks}}</span>{% endif %}
      {% if player.hand %}<span class="badge bg-primary"><h5> hand: {{player.hand}} </h5></span>{% endif %}



    </div>
  </div>